<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">
                      Schoolhouse Labs is part of Founder Landon's journey
                      into education and web development.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2013</h4>
                                    <h4 class="subheading">Middle School Teacher</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Landon taught 6th through 8th grade math
                                    with Teach for America in Colorado Springs. As a teacher, he saw
                                    the power of tech to engage students and make himself more
                                    efficient as a teacher.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2013</h4>
                                    <h4 class="subheading">Web Developer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Knowing that the best way to become a part of the edtech movement,
                                    Landon started learning Ruby on Rails and became a web developer
                                    to be able to build web apps.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2014</h4>
                                    <h4 class="subheading">Creation of Schoolhouse Labs</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Schoolhouse Labs is helping teacher entrepreneurs
                                    and schools get their ideas into the classroom.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                  <a href='mailto:schoolhouselabs@gmail.com'
                                  style='color:white !important;'>Contact
                                    <br>Schoolhouse
                                    <br>Labs</a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
