<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Who we are</h2>
                    <h3 class="section-subheading text-muted">
                    We believe that technology increases student engagement, teacher efficiency,
                    and ultimately student achievement.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Former Teachers</h4>
                    <p class="text-muted">
                      We are former Teach for America Corps Members that taught
                      middle school math in Colorado Springs. We saw, first-hand,
                      how tech tools can increase student achievement.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Developers</h4>
                    <p class="text-muted">
                      Teachers have great ideas and awesome implementation strategies.
                      We will take your ideas and build the product that you want for
                      web and mobile.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Designers</h4>
                    <p class="text-muted">
                      We are part of the product design team that that won<a href='http://nycbigapps.com/bigideawinners' target="_blank">
                      NYC's Big App Challenge</a> in the Education Category with TFA. Have
                      an idea that needs to be fleshed out? We can help.
                    </p>
                </div>
            </div>
        </div>
    </section>
